<mat-toolbar>
  <span><mat-icon>flight_takeoff</mat-icon> Space invoices </span>
  <span class="example-spacer"></span>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="line" *ngIf="this.currentRoute != '/login' && this.currentRoute != '/signup' " [routerLink]="['/home']" routerLinkActive="router-link-active">Home </a>
      <button mat-icon-button  *ngIf="this.currentRoute != '/login' && this.currentRoute != '/signup' "  [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>keyboard_tab</mat-icon>
          <a type="button" (click)="logout()"> Logout</a>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
