<section>
    <div id="videob">
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="../../../assets/mp4/galassia.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <img src="../../../assets/img/1.png" alt="1">
          <div class="w-100 text-white">
            <h1 class="display-3">Space  Store</h1>
            <p class="lead mb-0">Acquisti spaziali per persone spaziali!</p>
            <br><br><br>
           
          </div>

        </div>
      </div>
    </div>
</section>
