body {
  background-image: url(https://wallpapercave.com/wp/wp5971140.jpg) !important;
  background-position: center;
  width: 100%;
  height: 93%;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #e99557;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #e99557;
}

.field-container {
  color:white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: fit-content;
}

.mat-button{
  background-color: #e99557;
  color: aliceblue;
  align-items: center;
  margin-right: 1%;
}

h1{
  text-align: center;
  color: aliceblue;
  padding-top: 4rem;
}

mat-stepper {
  background: none;
  margin-left: 3rem;
  margin-right: 3rem;
}
