.field-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}

.mat-button{
  background-color: rgb(207, 7, 107);
  color: aliceblue;
  align-items: center;
  margin-right: 1%;
}

h1{
  text-align: center;
  color: aliceblue;
  margin: 4rem;
}

mat-stepper {
  margin-left: 3rem;
  margin-right: 3rem;
}
