.mat-form-field{
  color:white;
  margin: 5px;
}
.mat-card{
  width: 460px;
  margin: 0 auto;
  margin-top: 10%;
}
.mat-button{
  background-color: rgb(207, 7, 107);
  color: aliceblue;
  margin-left: 40%;
}
h1{
  text-align: center;
}