<br>
<div class="container">
    <div class="row">
      <div class="col">
        <mat-card>Clienti <br>
            <mat-list>
                <mat-list-item>Item 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
              </mat-list>


        </mat-card>
      </div>
      <div class="col">
        <mat-card>Ultime fatture</mat-card>
      </div>
      <div class="col">
        <mat-card>Altro</mat-card>
      </div>
    </div>
  </div>